/* * {
  box-sizing: border-box;
}
*/


header {
  background-color: rgba(112, 107, 107, 0.911);
  background-size: cover;
  
}


.header-section {
  display: flex;
  background-color: rgba(24, 24, 27, 0.966);
}


/*  background colour to body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgba(24, 24, 27, 0.966);
}

/* added css to header */
header {
  display:flex;
  background-color: black;
  padding: 20px;
  
  
}


h1 {
  color: white;
  padding-top: 150px;
  background-image: url(../images/8D24B4E8-3708-48AC-A79F-B1B86DF545AE\ \(1\).JPG);
  background: url(../images/8D24B4E8-3708-48AC-A79F-B1B86DF545AE\ \(1\).JPG);
  background-position: center;
background-size: cover;
align-items: center;
display: flex;
position: relative;
}

h2 {
  color: black;
  font-size: 32px;
}

.page-section{
  background-color: rgba(24, 24, 27, 0.966);
}

  .page-section img {
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    position: relative;
  }

.page-section h2  {
  color: white;
}

.page-section p {
  color: white;
  display: flex;
  align-items: flex-end;
}



/* added CSS to h2 */
.hero-banner h2 {
  float: right;
  color: black;
  font-size: 46px;
}

/* added nav CSS */

nav {
list-style-type: none;
display: inline;
margin: 0;
padding: 0;
position: absolute;
right: 200px
}


/* added nav a CSS */
nav a {
  display: inline-flex;
  font-size: 34px;
color: white;
text-align: center;
padding: 10px 15px;
margin-top: 50px;
text-decoration: none;
}


/* added nav a;hover CSS */
nav a:hover {
  background-color: darkgrey;
}

/* added CSS to hero banner */

.hero-banner {
  padding: 60px 30px; 
  background-image: url(../images/02-hero-bg.jpg);
  
}

/* added CSS to page-wrapper */
.page-wrapper {
  padding: 60px 30px;
  background-color: rgba(24, 24, 27, 0.966);

}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


p {
  margin: 10px;
  font-size: 28px;
  display: inline-flex;
  align-items: flex-end;
}

/* added css for grid */
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu main main main'
    'footer footer footer right right right';
  gap: 10px;
  padding: 10px;
  background-color: white;
  
}

.grid-container > div {
  background-color: rgba(24, 24, 27, 0.966);
  text-align: center;
  padding: 150px 0;
  margin: 15px;
  font-size: 30px;
}


.item1 
{ grid-area: header;
background: url(../images/02-portfolio-4.jpg);
background-position: center;
background-size: cover;
align-items: center;
display: flex;
position: relative;
}

.item2 
{ grid-area: menu;
background: url(../images/02-portfolio-1.jpg);
background-position: center;
background-size: cover;
align-items: center;
display: flex;
position: relative;
}

.item3 {
grid-area: main; 
background: url(../images/02-portfolio-2.jpg);
background-position: center;
background-size: cover;
align-items: center;
display: flex;
position: relative;
}

.item4 
{ grid-area: right; 
background: url(../images/02-portfolio-3.jpg);
background-position: center;
background-size: cover;
align-items: center;
display: flex;
position: relative;
}

.item5 
{ grid-area: footer;
background: url(../images/02-run-buddy.jpg); 
background-position: center;
background-size: cover;
align-items: center;
display: flex;
position: relative;
}

.page-section-contact {
  background-color: white;
}

.page-section-contact h2 {
  display: flex;
  align-items: flex-start;
  font-size: 34px;
  color: black;
}


.page-section-contact nav {
  display: flex;
  align-items: flex-end;
}
li {
  color: white;
  list-style-type: none;
  display: inline-flex;
  font-size: 34px;
}

li a {
  color: white;
}

h3 {
  color: white;
  font-size: 34px;
}

@media screen and (min-width: 480px) {}